body {
    font-family: Arial, sans-serif;
    line-height: 2;
    padding: 0px;
    background-color: #ffffff;
}

header {
    text-align: left;
    margin-bottom: 10px;
}

h1 {
    font-size: 20px;
    margin: 0;
}


#controls {
    white-space: nowrap;
    /* 改行を防止 */
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between; /* 要素をコンテナの両端に配置 */
    align-items: center; /* 垂直方向の中央揃え */
    margin-bottom: 10px;
}



#buttons {
    display: flex;
    flex-direction: column;
}

#fileInput {
    margin-right: 10px;
}

#updateButton,
#saveButton {
    margin-bottom: 5px;
}

#character
{
    display: flex;
    align-items: center;
    margin-right: 100px;
}

#fontSizeInput,
#charCountInput {
    width: 2em;
    padding: 0.2em;
    font-size: 1em;
    margin-right: 20px;
}

#container {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 160px);
}

#viewerContainer {
    flex: 1;
    overflow-x: auto;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f0f0f0;
}

#viewer {
    display: inline-block;
    font-family: monospace;
    font-size: 16px;
    text-align: left;
    white-space: pre-wrap;
}

#editorContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#editor {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    line-height: 2;
    white-space: pre-wrap;
    overflow-y: scroll;
    font-size: 16px;
}